alembic==1.4.2
-e git+git@github.com:nervecell23/candlestick-composer.git@3d638fcc8bfc83b6c41ee0c0f30c34c9cf268a64#egg=candlesticks_composer
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Flask==1.1.2
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
idna==2.10
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
Mako==1.1.3
MarkupSafe==1.1.1
numpy==1.19.0
pandas==1.1.0
parso==0.7.0
psycopg2-binary==2.8.5
pudb==2019.2
Pygments==2.6.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
SQLAlchemy==1.3.18
ujson==3.0.0
urllib3==1.25.9
urwid==2.1.0
v20==3.0.25.0
Werkzeug==1.0.1
